<div class="container">
    <div class="nav-container">
      <div class="navbar">
        <div class="logo-container">
          <img class="logo" src="/images/portfolio_logo.png" alt="portfolio_logo">
        </div>
        <div class="menu-container">
          <div class="menu">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" fragment="services-section">Home</a>
          </div>
          <div class="menu">
            <a routerLink="/services" routerLinkActive="active">Services</a>
          </div>
          <div class="menu">
            <a routerLink="/about-me" routerLinkActive="active">About me</a>
          </div>
          <div class="menu">
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
          </div>
        </div>
        <div class="contact-container">
          <div class="contact">
            <div class="contact-icon">
              <svg width="20px" height="20px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.9932 1.58221C15.0223 1.40736 14.9567 1.23016 14.8208 1.11645C14.6848 1.00274 14.4988 0.969519 14.3318 1.02914L0.331836 6.02914C0.143209 6.0965 0.0129867 6.26994 0.000913704 6.46987C-0.0111592 6.6698 0.0972469 6.85765 0.276398 6.94722L4.2764 8.94722C4.43688 9.02746 4.62806 9.01556 4.77735 8.91603L8.09775 6.70244L6.10957 9.18766C6.02203 9.29709 5.98442 9.43824 6.00592 9.57672C6.02742 9.7152 6.10605 9.8383 6.22265 9.91603L12.2227 13.916C12.3638 14.0101 12.5431 14.0262 12.6988 13.9588C12.8545 13.8914 12.9653 13.7496 12.9932 13.5822L14.9932 1.58221Z"
                  fill="white" />
              </svg>
            </div>
            Contact me
          </div>
        </div>
      </div>
    </div>
    <div class="sub-container">
      <div class="left-container">
        <div class="welcome-container">
          <p class="fade-item">Welcome!</p>
          <h1 class="fade-item">I am <span>Ky Sopheareak,</span></h1>
          <h1 class="fade-item">Web Designer &</h1>
          <h1 class="fade-item">Web Developer Enthusiast</h1>
          <div class="description fade-item">
            <p>Thank you for considering my services. I’m ready to deliver clean, responsive, and professional web
              solutions tailored to your needs.</p>
          </div>
        </div>
        <div class="button-container">
          <div class="hire-btn fade-item">
            <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 32 32"
              xml:space="preserve">
              <style type="text/css">
                .puchipuchi_een {
                  fill: white;
                }
              </style>
              <path class="puchipuchi_een" d="M7,6c0-2.757,2.243-5,5-5s5,2.243,5,5c0,1.627-0.793,3.061-2,3.974V6c0-1.654-1.346-3-3-3
                              S9,4.346,9,6v3.974C7.793,9.061,7,7.627,7,6z M24,13c-1.104,0-2,0.896-2,2v-1c0-1.104-0.896-2-2-2s-2,0.896-2,2v-1
                              c0-1.104-0.896-2-2-2s-2,0.896-2,2V6c0-1.104-0.896-2-2-2s-2,0.896-2,2v10.277C9.705,16.106,9.366,16,9,16c-1.104,0-2,0.896-2,2v3
                              c0,0.454,0.155,0.895,0.438,1.249L11,28h12l2.293-3.293C25.682,24.318,26,23.55,26,23v-8C26,13.896,25.104,13,24,13z M11,29v1
                              c0,0.552,0.447,1,1,1h10c0.553,0,1-0.448,1-1v-1H11z" />
            </svg>
            Hire Me
          </div>
          <div class="telegram-btn fade-item">
            <svg width="20px" height="20px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.9932 1.58221C15.0223 1.40736 14.9567 1.23016 14.8208 1.11645C14.6848 1.00274 14.4988 0.969519 14.3318 1.02914L0.331836 6.02914C0.143209 6.0965 0.0129867 6.26994 0.000913704 6.46987C-0.0111592 6.6698 0.0972469 6.85765 0.276398 6.94722L4.2764 8.94722C4.43688 9.02746 4.62806 9.01556 4.77735 8.91603L8.09775 6.70244L6.10957 9.18766C6.02203 9.29709 5.98442 9.43824 6.00592 9.57672C6.02742 9.7152 6.10605 9.8383 6.22265 9.91603L12.2227 13.916C12.3638 14.0101 12.5431 14.0262 12.6988 13.9588C12.8545 13.8914 12.9653 13.7496 12.9932 13.5822L14.9932 1.58221Z"
                fill="black" />
            </svg>
            Telegram
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="card">
          <div class="profile-image flip-animate">
            <img src="/images/pf-img.png" alt="Web Developer" />
          </div>
          <div class="tag web flip-animate">WEB Designer</div>
          <div class="tag dev flip-animate">WEB Developer</div>
        </div>
      </div>
    </div>
  
    <div id="services-section" class="sub-container mt-200">
      <p>Service</p>
      <div class="service-content">
        <div class="service-label">
  
        </div>
        <div class="hire-btn">
          <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 32 32"
            xml:space="preserve">
            <style type="text/css">
              .puchipuchi_een {
                fill: white;
              }
            </style>
            <path class="puchipuchi_een" d="M7,6c0-2.757,2.243-5,5-5s5,2.243,5,5c0,1.627-0.793,3.061-2,3.974V6c0-1.654-1.346-3-3-3
                          S9,4.346,9,6v3.974C7.793,9.061,7,7.627,7,6z M24,13c-1.104,0-2,0.896-2,2v-1c0-1.104-0.896-2-2-2s-2,0.896-2,2v-1
                          c0-1.104-0.896-2-2-2s-2,0.896-2,2V6c0-1.104-0.896-2-2-2s-2,0.896-2,2v10.277C9.705,16.106,9.366,16,9,16c-1.104,0-2,0.896-2,2v3
                          c0,0.454,0.155,0.895,0.438,1.249L11,28h12l2.293-3.293C25.682,24.318,26,23.55,26,23v-8C26,13.896,25.104,13,24,13z M11,29v1
                          c0,0.552,0.447,1,1,1h10c0.553,0,1-0.448,1-1v-1H11z" />
          </svg>
          Hire Me
        </div>
      </div>
    </div>
  </div>